.OXFORD_BLUE {
    color: #051747;
}

.ROYAL_BLUE {
    color: #081f62;
}

.PAYNE_GREY {
    color: #535f80;
}

.GLITTER {
    color: #e7e9f0;
}

.WHITE {
    color: #fefefe;
}



.RED {
    color: #EC707E;
}


.blueeeee {
    color: #102E60;
}


.blue_darker{
	color: #1A1D4E;
}

.GRAY-GREEN {
    color: #ABBBC1;
}

.WHITE {
    color: #C1C2CD;
}